name: Build and Push Images
on:
    # Triggers the workflow on push or pull request events but only for the main branch
    push:
        branches:
            - main
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    build-push-app:
        name: Build and Push Guestbook app
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
            attestations: write
            id-token: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Log in to the Container registry
              uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.CONTAINER_REGISTRY_PAT }}
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  context: .
                  file: Dockerfile
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: ghcr.io/zane-ops/guestbook:latest,ghcr.io/zane-ops/guestbook:${{ github.sha }}
                  cache-from: |
                      type=registry,ref=ghcr.io/zane-ops/guestbook:latest
                  cache-to: type=inline
            # - name: Deploy to Zaneops
            #   uses: zane-ops/auto-deploy-action@v4
            #   with:
            #     SERVICE_IMAGE: ghcr.io/zane-ops/guestbook:${{ github.sha }}
            #     DEPLOY_WEBHOOK_URL: ${{ secrets.DEPLOY_WEBHOOK_URL }}
            #     COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
            #     EXTRA_HEADERS: '{ "CF-Access-Client-Id": "${{ secrets.CF_CLIENT_ID }}", "CF-Access-Client-Secret": "${{ secrets.CF_CLIENT_SECRET }}" }'